<!DOCTYPE html>
<html lang="en">
<head>
  <title>Сведения о карте</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/gradient.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>$(document).ready(

}


);
</script>
</head>
<body>

<div class="container">
  
 <table class="table table-striped">
    <thead>
      <tr>
         <th>Шифр</th>
        <th>Номер карты</th>
        <th>Фамилия, Имя</th>
        
              </tr>
    </thead>
    <tbody>
       {%for list in L%}
      <tr>
        
        {%for item in list%}

        <td>{{item}}</td>

        {%endfor%}
        </tr>

      {%endfor%}
    </tbody>
  </table>
</div>

</body>
</html>
