<!DOCTYPE html>
<html lang="en">
<head>
  <title>Рейтинг кассиров</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/gradient.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>$(document).ready(
function(){



);
</script>
</head>
<body>

<div class="container">
  <h2>Команда "Сити Ресторантс" поздравляет Вас с окончанием тестового этапа игры "СИТИ КВЕСТ"</h2>
  <h4>Подведение итогов состоится в ближайшие дни. Мы все с огромным нетерпением ждем поздравления наших победителей!</h4>
<h6>      <h6>
  <center>
<img  class="img-rounded" src="/static/cityquest.png">
</center>  
</div>

</body>
</html>
